color1 = #2caaff

body
    background-color #f9f9f9
    font-size 14px
    font-family 'Roboto', sans-serif;

nav
    background-color #fff
    border-bottom 2px solid color1
    .navbar-brand
        img
            width 120px